/*
 * StackStrap Django Admin CSS overrides
 */

@import url(//fonts.googleapis.com/css?family=Lekton:400,700);

body.login div#branding h1 {
    text-align: center;
}

#header {
    background: red;
    color: #222;
    border-bottom: 1px solid #CCC;
}
#header a:link {
    color: #222;
    text-decoration: underline;
}
#header a:hover {
    color: #fff;
}
#branding h1 {
    color: #222;
    font-weight: bold;
    font-family: Lekton;
    text-shadow: 2px 2px 2px #CCC;
    filter: dropshadow(color=#CCC, offx=2, offy=2);
    padding-top: 2px;
}

div.breadcrumbs {
    border-top: none;
}

.module h2, .module caption, .inline-group h2 {
    background: #555;
    color: #FFF;
}

.module h2 a:link, .module h2 a:visited,
.module caption a:link .module caption a:visited,
.inline-group h2 a:link, .inline-group h2 a:visited {
    color: #555;
}

fieldset.collapsed h2 a:link, fieldset.collapsed h2 a:visited {
    color: #FFF;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.section:hover {
    text-decoration: underline;
}

.row1 {
    background: #F7FEF1;
}

h1 {
    color: #222;
}

