# vagrant
.vagrant/

# do not track the key files needed for provisioning
salt/keys/*.pem
salt/keys/*.pub

# vim swap files
.*.sw*

# compiled python files
*.pyc

# os x cruft
.DS_Store

# RVM/Gemfile Stuff
.ruby-version
.ruby-gemset
